@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 25px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}

.dark {
  background: #333;
  color: #fff;
}
/* * {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #777e90;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}


.imgMysStore {
    color: transparent;
    width: 100%;
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 #f0f1f2;
    padding: 5px 10px;
}

.navbar .navbar-container {
    max-width: 1380px;
    margin: 0 auto;
}

.navbar,
.navbar .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-container .text-contact {
    color: #191d27;
    text-align: start;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
} */
